<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Classroom dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav>
            <span class="logo">Logo</span>
            <ul>
                <li><a href="{{ url_for('dashboard') }}"> Home</a></li>
                <li><a href="{{ url_for('add_classrooms') }}">Add classroom</a><li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('display_classrooms') }}">Display Classrooms</a></li>
            </ul>    
          </nav>

          <br>
          <ul>
            {% for classrooms in classrooms %}
            <li>{{ classrooms }}</li>
            {% endfor %}
          </ul>
          <br>
<h1>RESULTS & STUDENT MANAGEMENT SYSTEM</h1>
  <h1>Dashboard</h1>
    <div class="container">
        <!-- Row 1 -->
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>CREATE CLASSROOM</h3>
                    <button class="custom-button"><a href="{{ url_for('add_classrooms') }}">Click Here</a></button>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>VIEW CLASSROOMS</h3>
                    <button class="custom-button"><a href="{{ url_for('display_classrooms') }}">Click Here</a></button>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>PLACE HOLDER</h3>
                    <button class="custom-button"><a href="{{ url_for('classroom_dash') }}">Click Here</a></button>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
         <!--
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>TEACHERS</h3>
                    <button class="custom-button"><a href="{{ url_for('t_dash') }}">Click Here</a></button>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>SUBJECTS</h3>
                    <button class="custom-button"><a href="{{ url_for('subject_dash') }}">Click Here</a></button>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>ADMIN</h3>
                    <button class="custom-button"><a href="{{ url_for('admin_dash') }}">Click Here</a></button>
                </div>
            </div>
        </div>-->
    </div>
    </body>
</html>