<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Pupils</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>List of Pupils</h1> 
        <br>
    <table>
        <thead> 
            <tr>
                <th>Exam Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Other Names</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Classroom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for pupil in pupils %}
            <tr>
                <td>{{ pupil[0] }}</td>
                <td>{{ pupil[1] }}</td>
                <td>{{ pupil[2] }}</td>
                <td>{{ pupil[3] }}</td>
                <td>{{ pupil[4] }}</td>
                <td>{{ pupil[5] }}</td>
                <td>{{ pupil[6] }}</td>
                <td>{{ pupil[7] }}</td>
                <td>{{ pupil[8] }}</td>
                <td>
                    <form action="{{ url_for('delete_pupil', exam_number=pupil[0]) }}" method="POST" style="display:inline;">
                        <button type="submit" class="edit-delete-buttons">Delete</button>
                    </form>
                    
                    <form action="{{ url_for('edit_pupil', exam_number=pupil[0]) }}" method="GET" style="display:inline;">
                        <button type="submit" class="edit-delete-buttons">Edit</button>
                    </form>
                
                    <form action="{{ url_for('report_card', exam_number=pupil[0]) }}" method="get">
                        <button type="submit">Report Card</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    
    <a href="/pdf" class="download-button" download>
        <button>Download PDF</button>
</body>
</html>
